.nav-links {
  list-style: none;
  margin: 0;
  padding: 0.3rem 1rem;
  border-bottom: 1px #bababa solid;
  background-color: #7966b9;
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.7rem;
  transition: all 0.5s;
}

.nav-links a:hover {
  color: #4e0727;
}

.nav-links a.active {
  border-color: #292929;
  color: #0ebfa0;
  font-size: 2rem;
}
